/********************************************

                    General

*********************************************/

.center {
    
    text-align: center;

}

/*************************************************

                    Main Text

**************************************************/

#main {
    
    margin-top: 4em;
    
}

b, h2, h3 {
    
    color: rgb(237,27,88);
    
}

/***************************************

             Social Media

******************************************/

#social {
    
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(237,27,88,0.5);

}

#social .fa {

color: rgb(50,33,88);

}

#social .fa:hover {

color: rgb(237,27,88);

}
