html {
    font-size: 100%;
    background-color: #f5f5f5;
    color: #263238;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.6;
}

body {
 
line-height: 1.6875;

}

/** Header Navigation **/

.navbar { 
    
padding: 30px 0;    

}

.navbar-default { 

border: none;

}

.collapse .navbar-nav a {
    
    text-transform: uppercase;
    color: rgb(50,33,88) !important;
    font-weight: 500;
    font-size: 1.2rem;
    
}

.navbar-default .navbar-nav a:hover {
    
    color: rgb(237,27,88) !important;
    
}

.image1 {
    
    width: 160px;
    
}

/*.image2 {
   display: none;
}

@media only screen and (max-width: 480px){
   .image1{
     display: none;
   }

   .image2{
     display: block;
     width: 160px;
   }
}*/

.title {
    
    color: rgb(237,27,88);
    
}

#social {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(237,27,88,0.5);
}

#social .fa {

color: rgb(50,33,88);

}

#social .fa:hover {

color: rgb(237,27,88);

}

/***************Footer*********************/

footer {
    
    font-size: 20px;
    background-color: grey;
    padding: 20px 0 40px 0;
    color: white;  
}

footer ul {
    
    display: inline-block; 
    margin-top: 20px;
    list-style-type:none;
    
}

@media only screen and (max-width: 480px) {
footer ul {
  
    margin-left: 25px;
    
  }
}

#footer-text p {
    
    text-align: center;
    
}

#footer-links li a {
    
    color: white;
    
}

#footer-links li a:hover {
    
    color: rgb(237,27,88);
    text-decoration: none;
    
}



.bottom-logo {
    
    text-align: center;
    
}

.bottom-logo img {
    
    width: 228px;
    height: auto; 
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.bottom-download {
    
    text-align: center;
    
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*
@media only screen and (max-width: 800px) {
body { font-size:100%;}
} 

@media only screen and (max-width: 1100px) {
body { font-size:120%;}
}

@media only screen and (max-width: 400px) {
body { font-size:80%;}
}

*/

/* {  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/