/********************************************

                    General

*********************************************/


.center {
    
    text-align: center;

}

/*********************************************

                 FAQ Content 

**********************************************/

#nav-border {
    
    margin-top: 70px;
    
}


.FaqContent ul li a {
    
    color: rgb(50,33,88);
    
}

.faq-heading {
    
    color: rgb(237,27,88);
    
}

.question-bolded {
    
    font-weight: bold;
    color: rgb(237,27,88);
    
}

.anchor {
    
  display: block;
  height: 80px; /*same height as header*/
  margin-top: -75px; /*same height as header*/
  visibility: hidden;

}

/***********************************

          Social Media

************************************/

#social {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(237,27,88,0.5);
}

#social .fa {

color: rgb(50,33,88);

}

#social .fa:hover {

color: rgb(237,27,88);

}
