
/****************************************************

Smarthphone Size Screen, both Portrait and Landscape

*****************************************************/

@media only screen and (max-width: 767px){
   
    .smartphone {
     display: block;
   }
    .tablet {
     display: none;
   }
    .desktop {
    display: none;    
    }
    .bigDesktop {
    display: none;    
    }
    
}

/****************************************************

                 Tablet Size Screen

*****************************************************/

@media only screen and (min-width: 768px) and (max-width: 991px){
   .smartphone {
     display: none;
   }
   .tablet {
     display: block;
   }
   .desktop{
    display: none;    
    }
    .bigDesktop {
    display: none;    
    }
    
}

/****************************************************

                 Desktop Size Screen

*****************************************************/

@media only screen and (min-width: 992px) and (max-width: 1199px){
   .smartphone {
     display: none;
   }
   .tablet {
     display: none;
   }
   .desktop {
    display: block;    
    } 
    .DesktopCheckout {
        
        margin-top: 3em;
    
    }
    .bigDesktop {
    display: none;    
    }
}

/****************************************************

                 Big Desktop Size Screen

*****************************************************/

@media only screen and (min-width: 1200px){
   .smartphone {
     display: none;
   }
   .tablet {
     display: none;
   }
   .desktop {
    display: none;    
    } 
    .DesktopCheckout {
        
        margin-top: 3em;
        margin-left: 3em;
    
    }
   .bigDesktop {
    display: block;    
    }
}