
/************************************ 

          Header Navigation 

************************************/

.white-bg {
    
    background-color: #ffffff !important;

}

.navbarSwoup { 
    
    padding: 15px 0;

}

.navbar-navSwoup {
    
    padding-right: 15px;

}

.navbar-defaultSwoup { 

   border: none;

}

.navbar-brand img {

    margin-left: 10px;
    
}

.collapse .navbar-nav a {
    
    text-transform: uppercase;
    color: rgb(50,33,88) !important;
    font-weight: 600;
    font-size: 0.9em;
    
}

.navbar-default .navbar-nav a:hover {
    
    color: rgb(237,27,88) !important;
    
}

.image1 {
    
    width: 160px;
    
}

.image2 {
   display: none;
}

@media only screen and (max-width: 575px){
   .image1{
    
  display: none;
   
}

   .image2{
     display: block;
   
    }
}