/********************************************

                    General

*********************************************/


.padding-0 {
    padding-right:0;
    padding-left:0;
}


.page-title {
    font-size: 1.7em;
    color: rgb(50,33,88);
    text-align: center;
    margin-top: 1.5em;
    font-weight: 700;
}


/****************************************

Intro with the Promo Video

*****************************************/

.banner-color {
    
    background-color: rgb(50,33,88);
    
}


.banner {
    
    text-align: center;
    margin-top: 2em;
}

.banner-heading {
    
    font-size: 1.4em;
    color: rgb(237,27,88);
}

.banner-text {
    
    font-size: 1em;
    color: #fff;
    
}

.banner-button {
    
    
    background-color: rgb(237,27,88);
    color: #fff;
    padding: 0.6em 1em;
    margin: 1em 1em 2em 1em;
  
    
}

.banner-button:hover {
    
    background-color: rgba(237,27,88,0.5);
    color: #fff;
        
}

@media only screen and (min-width: 576px) {

.banner-heading {
        
    font-size: 1.7em;
    
    }
    
.banner-text {
    font-size: 1.2em;
    margin: 0 1em;
}
    
.banner-button {
 
    padding: 0.8em 1.2em;
    margin: 1em 1em 2em 1em;
    border: 2em;
    
  }
}

@media only screen and (min-width: 768px) {

.banner-heading {
        
    font-size: 1.5em;
    
    }
    
.banner-text {
    font-size: 1em;
    margin: 0 1em;
}
    
.banner-button {
 
    padding: 0.8em 1.2em;
    margin: 1em 1em 2em 1em;
    border: 2em;
    
  }
}

@media only screen and (min-width: 992px) {

.banner-heading {
        
    font-size: 1.5em;
    
    }
        
.banner-button {
 
    padding: 0.8em 1.2em;
    margin: 1em 1em 2em 1em;
    border: 2em;
    
  }
}

@media only screen and (min-width: 1200px) {

.banner {
        
        margin-top: 2em;
        
    }
    
    
.banner-heading {
        
    font-size: 1.3em;
    
    }

.banner-text {
    
    font-size: 0.9em;
   
    }
    
}

video {
   
   background:transparent url('../images/video1.jpg') no-repeat 0 0;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
}

@media only screen and (max-width: 575px) {
video {
  
    background:transparent url('../images/video2small.jpg') no-repeat 0 0;
    -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
    
    
  }
}


/********************************************************

                      Benefits

*********************************************************/

.benefit-heading {
    
      font-size: 1.2em;
      color: rgb(237,27,88);
      text-align: center;
      padding: 0;
      font-weight: 500;
    
}

.benefit-text {

font-size: 1em;
font-weight: 300;

}

.benefit-text li {
    
    font-size: 0.8em;
    line-height: 0.9em;
    
}

.benefit-picture {
    
    margin-bottom: 2em;
    
}

.center {
    
    text-align: center;
    
}



@media only screen and (min-width: 576px) {

   .benefit {
        
    margin: 2em 0 1em 0;
    
    
    }    
    .benefit-heading {
        
      padding: 0 0;  
      font-size: 1em;
    }
    
    .benefit-text {
 
    padding: 0 2em;
    
  }
    
}



@media only screen and (min-width: 1200px) {

    .benefit-heading {
        
    padding-left: 1em;
    padding-right: 1em;
    
    }
    
}



@media only screen and (max-width: 991px) {
	.first {
		order: 1;
	}
	.second {
		order: 2;
	}
}





    

/***********************************************

                Download Middle

************************************************/


.middle-banner{
    
    background-color: rgb(50,33,88); 
    text-align: center;
    
}

.download {
    
    padding: 2em 0;
    
}

.middle-banner-heading {
    
    color: rgb(237,27,88);
    font-size: 1.4em;
    font-weight: 500;
    
}

.middle-banner-text {
    
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    
}

.middle-banner-button {
    
    background-color: rgb(237,27,88);
    color: #fff;
    padding: 0.6em 1em;
    margin: 1em 1em 2em 1em;
    border: 2em;
    
}

.middle-banner-button:hover {
    
    background-color: rgba(237,27,88,0.5);
    color: white;
}

@media only screen and (min-width: 992px) {
    
.middle-banner-button {
 
    padding: 0.8em 1.2em;
    margin: 1.2em 2em 1.2em 2em;
    border: 2em;
    
  }
}


/******************************************

            How it works? 

*******************************************/


#steps {
    
    
    
}

.step {
    
    margin: 3em 0 2em 0;
    
}

.step-heading {
    
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(237,27,88);
    text-align: center;
   
    
} 

.step-text {
    
  font-size: 1em;
  font-weight: 300;
  
    
}

@media only screen and (min-width: 576px) {
    
.step-text {
 
    padding: 0 2em;
    
  }
}



@media only screen and (min-width: 1200px) {


.step-text {
    
    font-size: 0.9em;
    margin: 1em 2em;
   
    }
    
}

/******************************************

            Partners 

*******************************************/


#logos {
    
    text-align: center;
    margin: 0 auto;
    
}

@media only screen and (min-width: 769px) {
#logos {
  
    margin-left: 15%;
    
  }
}

/**********************Social Media Icons***********************************/

#social {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(237,27,88,0.5);
}

#social .fa {

color: rgb(50,33,88);

}

#social .fa:hover {

color: rgb(237,27,88);

}


/* {  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */