/********************************************

                    General

*********************************************/

.center {
    
    text-align: center;
}

/**************Main Page*********************/



.page {
    padding: 50px 0;
}

.page h2 {
    text-align: center;
    margin-bottom: 30px;
}

/**Page - Mission**/
#mission {
    background-color: rgb(50,33,88);
    color: white;
    border-top: 20px solid rgba(237,27,88, .5);
}

.mission-heading {
    
    color: rgb(237,27,88);
    
}


@media only screen and (min-width: 1200px) {
    
    #mission {
        
        font-size: 0.8em;
        
    }
    
}

/***************Page - Team******************/

#staff h2 {
    
    color: rgb(237,27,88);
    
}

.member {
    margin: 10px 0;

}

.member h3 {
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(237,27,88);
    padding-bottom: 5px;
}

.member img {
    
    
    height: auto;
    
}



/*******************Page - Contact******************************/


#contact {
    
    
    background-color: pink;
    
}


#contact-info p {
    
    color: rgb(50,33,88);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    
}


@media only screen and (min-width: 576px) {
    
    #contact-info p {
    
    
    font-size: 1.2em;

    
   }
    
}

/******************************************

               Social Media

*******************************************/

#social {
    
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(237,27,88,0.5);
}

#social .fa {

color: rgb(50,33,88);

}

#social .fa:hover {

color: rgb(237,27,88);

}


/* {  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/